.nav-close {
    position: absolute;
    top: 38px;
    right: 25px;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 10px;

    &:focus {
        outline: 0;
    }

    &:hover {
        &::before,
        &::after {
            background: rgb(255,255,255);
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 20px;
        height: 1px;
        background: rgb(150,150,150);
        top: 15px;
        transition: background 0.15s ease;
    }

    &::before{
        transform: rotate(45deg);
    }

    &::after{
        transform: rotate(-45deg);
    }
}
